<!doctype html>
<html>
<body style="margin: 0;
      background-color: #f5f5f5;
      font: 12px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
      color: #888;
      height: 100%;
      width: 100%;">
<div id="message_wrap" style="width: 500px;
      padding: 20px 40px 40px 40px;
      margin: 0 auto;
       color: #888;
      background-color: #f5f5f5;">
  <div id="message" style="color: #888;
      position:relative;
      width: 500px;
      background-color: #f5f5f5;">

    <div id="top" style="width: 100%; margin: 0 2px 0 -1px; padding: 0 2px 0 0; height: 50px;
         background: #252526;">
      <div id="logo" style="padding: 12px 0 0 16px;">
        <a href="http://www.entitys.com/" title="entitys Homepage" style="color:#00AEEF; text-decoration:none;">
          <%= image_tag attachments['logo.png'].url %>
        </a>
      </div>
    </div>

    <div id="body" style="padding: 12px 16px 24px 16px;">
      <p style="padding-bottom: 20px; font-weight:bold; color: #888 !important; ">
        Hi <%=@user.user_name%>,
      </p>
      <p style="padding-bottom: 10px; font-weight:bold; color: #888 !important; ">
        A reply has been posted to your entity:<br/>
      </p>
      <p>
        <%= @entity.body %>
        <br />
        <br />
        <%=link_to root_url + "entitys/#{@entity.id}", root_url + "entitys/#{@entity.id}", style: "color:#00AEEF; text-decoration:none; font-weight:bold" %>
      </p>
      <br />
      <p style="padding-bottom: 20px; font-weight:bold; color: #888 !important; ">
        The entitys Team<br/>
        <%= mail_to "support@entitys.com", "support@entitys.com", style: "color:#00AEEF; text-decoration:none;"%>
      </p>

      <p class="notification" style="font-weight:bold; padding: 12px 0 36px 0; border-top: 1px solid #ccc; font-size: 10px; color: #bbb;">
        <%= link_to "unsubscribe from notifications about new comments", root_url+"unsubscribe_from_notifications?n_token=#{@token}"+URI.escape("&")+"type=#{@type}"+URI.escape("&")+"user=#{@user.id}", style: "font-size: 10px; color:#00AEEF; text-decoration:none; font-weight:bold" %>
        <br />
        Please do not reply to this message as it was sent from an unmonitored email address. If you received this message in error, please disregard it.
      </p>

    </div>

  </div>
</div>
</body>
</html>