<body class="forgot-password">
  <div id="container">
    <header>
     <section class="clearfix">
      <figure>
       <p><%= image_tag 'mobile/entitys-logo.png', width: "82", height: "28", alt: "entitys Logo" %></p>
      </figure>
      <h1>Forgot Password</h1>
      <%= render :partial => "entitys/logout_header_mobile" %>
     </section> 
      <%= render :partial => "entitys/header_mobile", :locals => {:page => ''} %> 
    </header>
    <div id="main" role="main" class="grayed">
     <div id="error_box"></div>
     <div id="response_area" style="display: none"></div> 
     <div id="for_send"> 
     <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :remote=>true, :html => {:id=>"reset_password_form", :method => :post, class: "clearfix"}) do |f| %> 
      <%= f.label 'Email' %> 
      <%=f.text_field "email", {id: "EMLemail"} %> 
      <%= f.submit 'Submit' %> 
     <% end %>
     </div>  
    </div>
  </div><!--! end of #container -->
</body>
</html>
<script type="text/javascript">
$(document).ready(function(){
    $('#reset_password_form')
    .bind("ajax:success", function(evt, data, status, xhr){
      $('#error_box').html('');
      $('#for_send').fadeOut();
      $('#response_area').fadeIn();
      $('#response_area').html("<label>E-mail with instructions has been sent.</label>");
    })
    .bind("ajax:error", function(evt, xhr, status, error){
      $('#error_box').html(xhr.responseText);
    })
    .bind("ajax:beforeSend", function(evt, xhr, status, error){
      if (!validateEmail($('#EMLemail').val())){
        $('#error_box').html('Failed format');
        return false;
      }
    });
    
  function validateEmail(email) 
  {
    var re = /([^@\s]+)@((?:[-a-z0-9]+\.)+[a-z]{2,})/;
    return re.test(email);
  } 
    
});    
</script>